/*
*	Globals
*/
*
{
	font-family: sans-serif;

	box-sizing: border-box;

	overscroll-behavior: none;
}

html, body
{
	width: 100%;
	height: 100%;

	margin: 0;

	padding: 0;

	scroll-behavior: smooth;
}

.blockbox
{
	display: inline-block;
}

.flexbox
{
	display: flex;
}

.float_left
{
	float: left;
}

.float_left:after
{
	content: "";

	display: table;

	clear: both;
}

.float_right
{
	float: right;
}

.float_right:after
{
	content: "";

	display: table;

	clear: both;
}

.center_text
{
	text-align: center;
}

.glass_morphism
{
	background: rgba(255, 255, 255, 0.25);

	box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);
}

.glass_morphism_weak
{
	background: rgba(255, 255, 255, 0.25);

	box-shadow: 0 2px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(2px);
}

#navbar
{
	position: fixed;

	top: 0;
	left: 0;

	width: 100%;
	height: 64px;

	padding-left: 100px;
	padding-right: 100px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 998;

	overflow: hidden;

	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

@media only screen and (max-device-width: 1090px)
{
	#navbar
	{
		padding-left: 5px;
		padding-right: 5px;
	}
}

#navbar_left
{
	display: flex;
	align-items: center;

	gap: 10px;
}

#navbar_right
{
	display: flex;
	align-items: center;

	height: 80%;

	gap: 5px;
}

#navbar_logo
{
	width: 50px;
	height: 50px;

	border: 0 solid transparent;
	border-radius: 50%;
}

#navbar_title
{
	margin: 0;

	padding: 0;
}

@media only screen and (max-device-width: 900px)
{
	#navbar_title
	{
		font-size: 1.5rem;
	}
}

#navbar_tabs
{
	list-style-type: none;

	margin: 0;

	padding: 0;

	height: 100%;
}

#navbar_tabs a
{
	display: flex;
	align-items: center;

	text-decoration: none;

	cursor: pointer;

	color: black;

	height: 100%;

	padding-left: 10px;
	padding-right: 10px;

	background: rgba(255, 0, 0, 0.5);

	border-radius: 12px;
}

#navbar_tabs a:hover
{
	cursor: pointer;

	background: rgba(255, 0, 0, 0.75);
}

#navbar_tabs li
{
	display: inline-block;

	cursor: pointer;

	margin-left: 5px;
	margin-right: 5px;

	height: 100%;
}

#navbar_usercontrols
{
	display: flex;
	align-items: center;

	gap: 10px;

	width: 220px;
	height: 100%;

	padding-left: 5px;
	padding-right: 5px;

	cursor: pointer;

	color: black;
	background: rgba(255, 255, 255, 0.5);

	box-shadow: 0 2px 32px 0 rgba(31, 38, 135, 0.37);

	border-radius: 12px;
}

#navbar_usercontrols:hover
{
	background: rgba(255, 255, 255, 0.7);
}

#navbar_usercontrols[open=true]
{
	border-bottom: 1px solid transparent;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#navbar_usercontrols_img
{
	width: auto;
	height: 80%;

	border: 0 solid transparent;
	border-radius: 50%;

	cursor: pointer;
	pointer-events: none;
}

#navbar_usercontrols_label
{
	cursor: pointer;
	pointer-events: none;
}

#navbar_usercontrols_dropdown
{
	position: fixed;

	height: fit-content;

	z-index: 999;

	overflow: hidden;

	background: rgba(255, 255, 255, 0.25);

	box-shadow: none;

	border-left: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

#navbar_usercontrols_dropdown[open=false]
{
	display: none;
}

.navbar_usercontrols_dropdown_control
{
	display: flex;
	align-items: center;

	width: 100%;
	height: calc(64px * 0.8);

	margin: 0;

	padding: 0;

	cursor: pointer;

	color: black;

	box-shadow: none;

	border: none;
}

.navbar_usercontrols_dropdown_control:hover
{
	background-color: rgba(255, 255, 255, 0.5);
}

.navbar_usercontrols_dropdown_control_label
{
	color: black;

	padding: 12px;

	cursor: pointer;
	pointer-events: none;

	margin: 0;
}

/*
*	Home page
*/
#home_header
{
	position: relative;

	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../assets/restaurant.png");
	background-size: cover;
	background-attachment: fixed;
}

#home_header_title
 {
 	display: flex;
 	flex-direction: column;

 	position: absolute;

 	width: 100%;

 	top: 50%;
 	transform: translateY(-50%);
}

.home_header_title_row
{
 	display: flex;
 	justify-content: center;

 	font-size: 6rem;

	color: white;
}

.home_header_title_row div
{
	opacity: 100%;

	animation: fade_in_home_header_title 3s;
}

@keyframes fade_in_home_header_title
{
	0%
	{
		opacity: 0%;
	}

	10%
	{
		opacity: 10%;
	}

	20%
	{
		opacity: 20%;
	}

	30%
	{
		opacity: 30%;
	}

	40%
	{
		opacity: 40%;
	}

	50%
	{
		opacity: 50%;
	}

	60%
	{
		opacity: 60%;
	}

	70%
	{
		opacity: 70%;
	}

	80%
	{
		opacity: 80%;
	}

	90%
	{
		opacity: 90%;
	}

	100%
	{
		opacity: 100%;
	}
}

.home_section
{
	padding-top: 100px;
	padding-bottom: 100px;

	background-image: linear-gradient(rgba(194, 115, 251, 0.8), rgba(0, 42, 255, 0.8));
}

#home_about
{
	background: rgb(8,8,112);
	background: radial-gradient(rgba(115, 0, 255, 0.8), rgba(194, 115, 251, 0.8));

	box-shadow: inset 0 -50px 30px rgba(206, 143, 252, 1);
}

#home_about_content
{
	width: 45em;

	margin: auto;

	padding: 3rem;

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 12px;
}

#home_about_content p
{
	line-height: 1.5rem;
}

#home_contact_box
{
	width: 50em;

	margin: auto;

	padding: 30px;

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 12px;

	overflow: hidden;
}

#home_contact_box *
{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

#home_contact_box h1
{
	margin-top: 0;
	margin-bottom: 25px;
}

#home_contact_box input,
#home_contact_box textarea
{
	border-radius: 15px;
	border: 1px solid black;

	padding: 15px;

	margin-bottom: 20px;

	background: rgba(255, 255, 255, 0.7);

	border: 1px solid rgba(255, 255, 255, 0.18);

	font-size: 15px;
}

#home_contact_box textarea
{
	resize: none;

	overflow: hidden;
	overflow-y: auto;
}

#home_contact_box input:hover,
#home_contact_box textarea:hover
{
	background-color: rgba(255, 238, 0, 0.4);
}

#home_contact_box input:focus,
#home_contact_box textarea:focus
{
	outline: none;
}

#home_contact_box input[type=submit]
{
	margin-bottom: 0;
}

#home_contact_box input[type=submit]:hover
{
	background: rgba(204, 252, 188, 0.5);
}

/*
*
*	Account page
*
*/

/*
*	Entry page
*/
#account_entry_container
{
	width: 100%;
	height: 100%;

	padding: 0;
	padding-top: 64px;

	display: flex;

	align-items: center;
	justify-content: center;

	background-image: linear-gradient(180deg, #2f6ed3 5%, #5095e4 20%, #5095e4 60%, #2f6ed3 95%);
}

#account_entry
{
	width: 50em;
	height: 30em;
	/* max-width: 50vw;
	max-height: 60vh; */

	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;

	padding: 24px;

	border-radius: 12px;

	overflow: hidden;
}

#account_entry_title
{
	margin-top: 0;
	margin-bottom: 20px;
}

#account_entry_form
{
	width: 100%;
	height: 90%;
}

#account_entry_form *
{
	width: 100%;
}

#account_entry_form h4
{
	margin-top: 10px;
	margin-bottom: 5px;
}

#account_entry_form input
{
	height: 3em;

	margin-bottom: 10px;

	padding: 12px;

	outline: none;

	background: rgba(255, 255, 255, 0.7);

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 12px;
}

#account_entry_form input::placeholder
{
	color: black;
}

#account_entry_form input:hover
{
	background-color: rgba(255, 150, 150, 0.9);
}

#account_entry_subtext
{
	position: absolute;

	left: 20px;
	bottom: 5em;

	font-size: 0.75em;
}

#account_entry_subtext_2
{
	position: absolute;

	left: 20px;
	bottom: 6.5em;

	font-size: 0.75em;
}

.account_entry_subtext_link
{
	color: purple;

	cursor: pointer;
}

.account_entry_subtext_link:hover
{
	text-decoration: underline;
}

#account_entry_submit
{
	position: absolute;

	left: 20px;
	bottom: 10px;

	width: calc(100% - 40px);
}

/*
*	Actual account page
*/
#account_page_container
{
	position: relative;

	overflow: hidden;

	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	background-color: rgb(171, 168, 227);
}

@media only screen and (max-device-width: 1090px)
{
	#account_page_container
	{
		overflow-y: auto;

		padding-bottom: 100px;
	}
}

#account_page_sidebar
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 10px;

	position: relative;

	top: calc((50% + 32px) - 15em);
	left: 100px;

	width: 20em;
	height: 30em;

	overflow: hidden;

	border-radius: 12px;

	padding: 24px;
}

@media only screen and (max-device-width: 1090px)
{
	#account_page_sidebar
	{
		flex-direction: row;
		align-items: center;

		top: 72px;
		left: 20px;

		width: calc(100% - 40px);
		height: 64px;
	}
}

.account_page_sidebar_link
{
	border: none;
	border-radius: 12px;

	width: 100%;
	height: 3em;

	box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.9), 1px 1px 5px rgba(255, 255, 255, 0.9) inset;
}

.account_page_sidebar_link:hover
{
	background-color: white;
	cursor: pointer;
}

.account_page
{
	position: absolute;

	top: calc((50% + 32px) - 20em);
	right: 100px;

	width: calc(100% - 300px - 20em);
	height: 40em;

	overflow: hidden;

	border-radius: 12px;

	padding: 30px;
}

@media only screen and (max-device-width: 1090px)
{
	.account_page
	{
		position: relative;

		top: 80px;
		left: 20px;

		width: calc(100% - 40px);
		height: 100%;
	}
}

.account_page[active=false]
{
	display: none;
}

.account_page_account_information
{
	width: 50%;
	height: 50px;

	gap: 20px;

	margin-bottom: 5px;
}

.account_page_account_information h1
{
	font-size: 1em;

	margin-top: 0;
	margin-bottom: 0;
}

.account_page_account_information p
{
	position: absolute;

	left: 10em;

	margin-top: 0;
	margin-bottom: 0;
}

#account_page_reset_password_button
{
	margin-top: 15px;

	padding: 10px;

	width: 15em;

	border-radius: 10px;
	border: none;

	box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.9), 1px 1px 5px rgba(255, 255, 255, 0.9) inset;
}

#account_page_reset_password_button:hover
{
	/* background-color: white; */
	background-color: rgba(255, 255, 204, 0.8);
	cursor: pointer;
}

/*
*
*	Menu page
*
*/

#menu_container
{
	padding: 20px;
	padding-top: 72px;

	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	overflow-y: auto;

	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-evenly;

	background-color: #2f6ed3;
}

@media only screen and (max-device-width: 480px) {
	#menu_container
	{
		grid-template-columns: auto;
	}
}

.menu_item_section
{
	width: 23em;
	height: 27em;

	font-size: 15px;

	margin-bottom: 24px;

	padding: 12px;

	border-radius: 12px;;

	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-device-width: 480px)
{
	.menu_item_section
	{
		width: 60vw;
	}
}

.menu_item_image
{
	width: 200px;
	height: auto;

	border-radius: 5px;
}

.menu_item_name
{
	margin-top: 0;
	margin-bottom: 0;

	text-transform: capitalize;
}

.menu_item_price
{
	margin-top: 0;
}

.menu_item_toppings_view_button,
.menu_item_cart_button
{
	width: 80%;

	padding: 7px;

	margin-bottom: 8px;

	border-radius: 5px;

	border: none;

	display: block;
}

.menu_item_toppings_view_button:hover,
.menu_item_cart_button:hover
{
	background-color: rgb(137, 240, 180);
}

.menu_item_topping_list
{
	position: absolute;

	z-index: 998;

	padding: 10px;

	border-radius: 12px;

	overflow: scroll;

	width: 20em;
	height: 30em;

	background-color: rgba(255, 255, 255, 0.7);

	font-size: large;
}

.menu_item_topping_list[isShown=false]
{
	display: none;
}

.item_menu_topping_list_item_label
{
	display: block;

	text-transform: capitalize;
	text-align: center;

	margin-top: 0;
	padding-top: 0;

}

.menu_item_topping_label
{
	line-height: 25px;
}

.menu_item_topping_label
{
	text-transform: capitalize;
}