/*
*	Globals
*/
*
{
	font-family: sans-serif;

	box-sizing: border-box;

	overscroll-behavior: none;
}

html, body
{
	width: 100%;
	height: 100%;

	margin: 0;

	padding: 0;

	scroll-behavior: smooth;
}

.float_left
{
	float: left;
}

.float_left:after
{
	content: "";

	display: table;

	clear: both;
}

.float_right
{
	float: right;
}

.float_right:after
{
	content: "";

	display: table;

	clear: both;
}

.center_text
{
	text-align: center;
}

#navbar
{
	position: fixed;

	top: 0;
	left: 0;

	width: 100%;
	height: 64px;

	padding-left: 100px;
	padding-right: 100px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 998;

	overflow: hidden;

	background: rgba(255, 255, 255, 0.25);

	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);

	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

@media only screen and (max-device-width: 1090px)
{
	#navbar
	{
		padding-left: 5px;
		padding-right: 5px;
	}
}

#navbar_left
{
	display: flex;
	align-items: center;

	gap: 10px;
}

#navbar_right
{
	display: flex;
	align-items: center;

	height: 80%;

	gap: 5px;
}

#navbar_logo
{
	width: 50px;
	height: 50px;

	border: 0 solid transparent;
	border-radius: 50%;
}

#navbar_title
{
	margin: 0;

	padding: 0;
}

@media only screen and (max-device-width: 900px)
{
	#navbar_title
	{
		font-size: 1.5rem;
	}
}

#navbar_tabs
{
	list-style-type: none;

	margin: 0;

	padding: 0;

	height: 100%;
}

#navbar_tabs a
{
	display: flex;
	align-items: center;

	text-decoration: none;

	cursor: pointer;

	color: black;

	height: 100%;

	padding-left: 10px;
	padding-right: 10px;

	background: rgba(255, 0, 0, 0.5);

	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 12px;
}

#navbar_tabs a:hover
{
	cursor: pointer;

	background: rgba(255, 0, 0, 0.75);
}

#navbar_tabs li
{
	display: inline-block;

	cursor: pointer;

	margin-left: 5px;
	margin-right: 5px;

	height: 100%;
}

#navbar_usercontrols
{
	display: flex;
	align-items: center;

	gap: 10px;

	width: 200px;
	height: 100%;

	padding-left: 5px;
	padding-right: 5px;

	cursor: pointer;

	color: black;
	background: rgba(255, 255, 255, 0.5);

	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 12px;
}

#navbar_usercontrols:hover
{
	background: rgba(255, 255, 255, 0.7);
}

#navbar_usercontrols[open=true]
{
	border-bottom: 1px solid transparent;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#navbar_usercontrols_img
{
	width: auto;
	height: 80%;

	border: 0 solid transparent;
	border-radius: 50%;

	cursor: pointer;
	pointer-events: none;
}

#navbar_usercontrols_label
{
	cursor: pointer;
	pointer-events: none;
}

#navbar_usercontrols_dropdown
{
	position: fixed;

	height: fit-content;

	z-index: 999;

	overflow: hidden;

	background: rgba(255, 255, 255, 0.25);

	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);

	border-left: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

#navbar_usercontrols_dropdown[open=false]
{
	display: none;
}

.navbar_usercontrols_dropdown_control
{
	display: flex;
	align-items: center;

	width: 100%;
	height: calc(64px * 0.8);

	margin: 0;

	padding: 0;

	cursor: pointer;

	color: black;
	background: rgba(255, 255, 255, 0.3);

	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);
}

.navbar_usercontrols_dropdown_control:hover
{
	background-color: rgba(255, 255, 255, 0.5);
}

.navbar_usercontrols_dropdown_control_label
{
	color: black;

	padding: 12px;

	cursor: pointer;
	pointer-events: none;

	margin: 0;
}

/*
*	Home page
*/
#home_header
{
	position: relative;

	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	background-image: linear-gradient(180deg, #2f6ed3 5%, #5095e4 20%, #5095e4 60%, #2f6ed3 95%);
}

.home_section
{
	padding-top: 100px;
	padding-bottom: 100px;

	background-image: linear-gradient(rgba(194, 115, 251, 0.8), rgba(0, 42, 255, 0.8));
}

#home_about
{
	background: rgb(8,8,112);
	background: radial-gradient(rgba(115, 0, 255, 0.8), rgba(194, 115, 251, 0.8));

	box-shadow: inset 0 -50px 30px rgba(206, 143, 252, 1);
}

#home_about_content
{
	width: 45em;

	margin: auto;

	padding: 3rem;

	background: rgba(255, 255, 255, 0.2);

	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 12px;
}

#home_about_content p
{
	line-height: 1.5rem;
}

#home_contact_box
{
	width: 50em;

	margin: auto;

	padding: 30px;

	background: rgba(255, 255, 255, 0.2);

	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 12px;

	overflow: hidden;
}

#home_contact_box *
{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

#home_contact_box h1
{
	margin-top: 0;
	margin-bottom: 25px;
}

#home_contact_box input,
#home_contact_box textarea
{
	border-radius: 15px;
	border: 1px solid black;

	padding: 15px;

	margin-bottom: 20px;

	background: rgba(255, 255, 255, 0.7);

	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);

	border: 1px solid rgba(255, 255, 255, 0.18);

	font-size: 15px;
}

#home_contact_box textarea
{
	resize: none;

	overflow: hidden;
	overflow-y: auto;
}

#home_contact_box input:hover,
#home_contact_box textarea:hover
{
	background-color: rgba(255, 238, 0, 0.4);
}

#home_contact_box input:focus,
#home_contact_box textarea:focus
{
	outline: none;
}

#home_contact_box input[type=submit]
{
	margin-bottom: 0;
}

#home_contact_box input[type=submit]:hover
{
	background: rgba(204, 252, 188, 0.5);
}

/*
*	Account page
*/
#account_entry_container
{
	width: 100%;
	height: 100%;

	padding: 0;
	padding-top: 64px;

	display: flex;

	align-items: center;
	justify-content: center;

	background-image: linear-gradient(180deg, #2f6ed3 5%, #5095e4 20%, #5095e4 60%, #2f6ed3 95%);
}

#account_entry
{
	width: 50em;
	height: 30em;
	max-width: 50vw;
	max-height: 60vh;

	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;

	padding: 24px;

	background: rgba(255, 255, 255, 0.2);

	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 12px;

	overflow: hidden;
}

#account_entry_title
{
	margin-top: 0;
	margin-bottom: 20px;
}

#account_entry_form
{
	width: 100%;
	height: 90%;
}

#account_entry_form *
{
	width: 100%;
}

#account_entry_form h4
{
	margin-top: 10px;
	margin-bottom: 5px;
}

#account_entry_form input
{
	height: 3em;

	margin-bottom: 10px;

	padding: 12px;

	outline: none;

	border: none;

	border-radius: 12px;
}

#account_entry_form input::placeholder
{
	color: black;
}

#account_entry_form input:hover
{
	background-color: rgba(255, 150, 150, 0.9);
}

#account_entry_subtext
{
	position: absolute;

	left: 20px;
	bottom: 5em;

	font-size: 0.75em;
}

#account_entry_subtext_2
{
	position: absolute;

	left: 20px;
	bottom: 6.5em;

	font-size: 0.75em;
}

.account_entry_subtext_link
{
	color: purple;

	cursor: pointer;
}

.account_entry_subtext_link:hover
{
	text-decoration: underline;
}

#account_entry_submit
{
	position: absolute;

	left: 20px;
	bottom: 10px;

	width: calc(100% - 40px);
}