/*
*	Globals
*/
:root
{
	--logo-red: rgb(160, 57, 43);
	--logo-red-dark: rgb(101, 34, 25);
	--logo-red-transparent: rgba(160, 57, 43, 0.25);

	--logo-orange: rgb(160, 99, 43);
	--logo-orange-dark: rgb(124, 77, 33);

	--logo-yellow: rgb(232, 177, 44);
	--logo-yellow-transparent: rgba(232, 177, 44, 0.1);

	--glass-morphism-background: rgba(128, 128, 128, 0.25);
	--glass-morphism-shadow: rgba(75, 75, 75, 0.37);

	--white-transparent: rgba(255, 255, 255, 0.25);
	--white-less-transparent: rgba(255, 255, 255, 0.75);
	--gray-transparent: rgba(128, 128, 128, 0.25);
}

*
{
	font-family: "Kalam", cursive;

	box-sizing: border-box;

	overscroll-behavior: none;

	scroll-behavior: smooth;
}

html, body
{
	width: 100%;
	height: 100%;

	margin: 0;

	padding: 0;

	background-color: var(--logo-red);
	background-image: url("../assets/bump.png");
	background-repeat: repeat;
}

.blockbox
{
	display: block;
}

.inline_blockbox
{
	display: inline-block;
}

.flexbox
{
	display: flex;
}

.flexbox_column
{
	display: flex;
	flex-direction: column;
}

.float_left
{
	float: left;
}

.float_left:after
{
	content: "";

	display: table;

	clear: both;
}

.float_right
{
	float: right;
}

.float_right:after
{
	content: "";

	display: table;

	clear: both;
}

.center_text
{
	text-align: center;
}

.glass_morphism
{
	background: var(--glass-morphism-background);

	box-shadow: 0 4px 32px 0 var(--glass-morphism-shadow);
	backdrop-filter: blur(8px);
}

.glass_morphism_weak
{
	background: var(--glass-morphism-background);

	box-shadow: 0 2px 32px 0 var(--glass-morphism-shadow);
	backdrop-filter: blur(2px);
}

input, textarea, button
{
	height: 3em;

	margin-bottom: 10px;

	padding: 12px;

	outline: none;

	color: black;

	background: var(--white-less-transparent);

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 12px;
}

input::placeholder, textarea::placeholder
{
	color: black;
}

button:not(:disabled), input[type=submit]
{
	cursor: pointer;
}

button:disabled
{
	background-color: var(--gray-transparent);
}

button:hover:not(:disabled):not(.close_btn):not(.back_btn), input:hover,
textarea:hover
{
	background-color: white;
}

.section_box
{
	width: 35em;

	margin: auto;

	padding: 30px;

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 12px;

	overflow: hidden;

	font-size: 2rem;
}

.close_btn, .back_btn
{
	width: 1.5em;
	height: 1.5em;

	padding: 0;

	font-size: 1.5rem;

	border: 1px solid black;
	border-radius: 50%;
}

.close_btn
{
	background-color: var(--logo-red);
}

.close_btn:hover
{
	background-color: var(--logo-red-dark);
}

.back_btn
{
	background-color: var(--logo-orange);
}

.back_btn:hover
{
	background-color: var(--logo-orange-dark);
}

.page_container
{
	left: 0;
	top: 4em;

	width: 100vw;
	height: 100vh;

	overflow-x: hidden;
	overflow-y: auto;

	padding-top: 4em;
}

.pop
{
	box-shadow: 0px 10px 20px black;
}

#navbar
{
	position: fixed;

	top: 0;
	left: 0;

	width: 100%;
	height: 4em;

	padding-left: 100px;
	padding-right: 100px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 998;

	overflow: hidden;

	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

@media only screen and (max-device-width: 1090px)
{
	#navbar
	{
		padding-left: 5px;
		padding-right: 5px;
	}
}

#navbar_left
{
	display: flex;
	align-items: center;

	gap: 10px;
}

#navbar_right
{
	display: flex;
	align-items: center;

	height: 80%;

	gap: 5px;
}

#navbar_logo
{
	width: 50px;
	height: 50px;

	border: 0 solid transparent;
	border-radius: 50%;
}

#navbar_title
{
	margin: 0;

	padding: 0;

	font-family: "Pacifico", cursive;

	color: white;
}

@media only screen and (max-device-width: 900px)
{
	#navbar_title
	{
		font-size: 1.5rem;
	}
}

#navbar_tabs
{
	list-style-type: none;

	margin: 0;

	padding: 0;

	height: 100%;
}

#navbar_tabs a
{
	display: flex;
	align-items: center;

	text-decoration: none;

	cursor: pointer;

	color: black;

	height: 100%;

	padding-left: 10px;
	padding-right: 10px;

	background-color: var(--logo-red);

	border-radius: 12px;
}

#navbar_tabs a:hover
{
	cursor: pointer;

	background-color: var(--logo-red-dark);
}

#navbar_tabs li
{
	display: inline-block;

	cursor: pointer;

	margin-left: 5px;
	margin-right: 5px;

	height: 100%;
}

#navbar_usercontrols
{
	display: flex;
	align-items: center;

	gap: 10px;

	width: 220px;
	height: 100%;

	padding-left: 5px;
	padding-right: 5px;

	cursor: pointer;

	color: black;
	background: rgba(128, 128, 128, 0.5);

	border-radius: 12px;
}

#navbar_usercontrols:hover
{
	background: rgba(128, 128, 128, 0.7);
}

#navbar_usercontrols[open=true]
{
	border-bottom: 1px solid transparent;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#navbar_usercontrols_img
{
	width: auto;
	height: 80%;

	border: 0 solid transparent;
	border-radius: 50%;

	cursor: pointer;
	pointer-events: none;
}

#navbar_usercontrols_label
{
	cursor: pointer;
	pointer-events: none;
}

#navbar_usercontrols_dropdown
{
	position: fixed;

	height: fit-content;

	z-index: 999;

	overflow: hidden;

	background: rgba(128, 128, 128, 0.25);

	box-shadow: none;

	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

#navbar_usercontrols_dropdown[open=false]
{
	display: none;
}

.navbar_usercontrols_dropdown_control
{
	display: flex;
	align-items: center;

	width: 100%;
	height: calc(64px * 0.8);

	margin: 0;

	padding: 0;

	cursor: pointer;

	color: black;

	box-shadow: none;

	border: none;
}

.navbar_usercontrols_dropdown_control:hover
{
	background-color: rgba(128, 128, 128, 0.5);
}

.navbar_usercontrols_dropdown_control_label
{
	color: black;

	padding: 12px;

	cursor: pointer;
	pointer-events: none;

	margin: 0;
}

/*
*	Home page
*/
#home_container
{
	padding-top: 0;
}

#home_header
{
	position: relative;

	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/restaurant.png");
	background-size: cover;
	background-attachment: fixed;
}

#home_header_title
 {
 	display: flex;
 	flex-direction: column;

 	position: absolute;

 	width: 100%;

 	top: 50%;
 	transform: translateY(-50%);
}

.home_header_title_row
{
 	display: flex;
 	justify-content: center;

 	font-size: 6rem;

	color: white;
}

.home_header_title_row
{
	opacity: 100%;

	text-align: center;

	animation: fade_in_home_header_title 3s;
}

@keyframes fade_in_home_header_title
{
	0%
	{
		opacity: 0%;
	}

	10%
	{
		opacity: 10%;
	}

	20%
	{
		opacity: 20%;
	}

	30%
	{
		opacity: 30%;
	}

	40%
	{
		opacity: 40%;
	}

	50%
	{
		opacity: 50%;
	}

	60%
	{
		opacity: 60%;
	}

	70%
	{
		opacity: 70%;
	}

	80%
	{
		opacity: 80%;
	}

	90%
	{
		opacity: 90%;
	}

	100%
	{
		opacity: 100%;
	}
}

.home_section
{
	padding-top: 100px;
	padding-bottom: 100px;
}

#home_about
{

}

#home_about_content
{

}

#home_about_content p
{
	line-height: 2.5rem;
	font-size: 1.5rem;
}

@media only screen and (max-device-width: 1090px)
{
	#home_about_content
	{
		width: 90vw;
	}
}

@media only screen and (max-device-width: 1090px) {
	#home_contact_box
	{
		width: 90vw;
	}
}

@media only screen and (max-device-width: 480px) {
	#home_contact_box input,
	#home_contact_box textarea
	{
		font-size: 1.3rem;
	}
}

#home_contact_box *
{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

#home_contact_box_header
{
	margin-top: 0;
	margin-bottom: 0;
}

#home_contact_box textarea
{
	resize: none;

	height: 10em;

	overflow: hidden;
	overflow-y: auto;
}

#home_contact_box input:focus,
#home_contact_box textarea:focus
{
	outline: none;
}

#home_contact_box input[type=submit]
{
	margin-bottom: 0;
}

/*
*
*	Account page
*
*/

/*
*	Entry page
*/
#account_entry_container
{
	display: flex;

	justify-content: center;
	align-items: center;
}

#account_entry
{
	width: 50em;
	height: 30em;
	/* max-width: 50vw;
	max-height: 60vh; */

	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;

	padding: 24px;

	border-radius: 12px;

	overflow: hidden;
}

#account_entry_title
{
	margin-top: 0;
	margin-bottom: 20px;
}

#account_entry_form
{
	width: 100%;
	height: 90%;
}

#account_entry_form *
{
	width: 100%;
}

#account_entry_form h4
{
	margin-top: 10px;
	margin-bottom: 5px;
}

#account_entry_subtext
{
	position: absolute;

	left: 20px;
	bottom: 5em;

	font-size: 0.75em;
}

#account_entry_subtext_2
{
	position: absolute;

	left: 20px;
	bottom: 6.5em;

	font-size: 0.75em;
}

.account_entry_subtext_link
{
	color: blue;

	cursor: pointer;
}

.account_entry_subtext_link:hover
{
	text-decoration: underline;
}

#account_entry_submit
{
	position: absolute;

	left: 20px;
	bottom: 10px;

	width: calc(100% - 40px);
}

/*
*	Actual account page
*/
#account_page_container
{
	justify-content: center;
	align-items: center;
}

@media only screen and (max-device-width: 1090px)
{
	#account_page_container
	{
		padding-bottom: 100px;
	}
}

#account_page_sidebar
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 10px;

	position: relative;

	top: calc(50% - 15em);
	left: 100px;

	width: 20em;
	height: 30em;

	overflow: hidden;

	border-radius: 12px;

	padding: 24px;
}

@media only screen and (max-device-width: 1090px)
{
	#account_page_sidebar
	{
		flex-direction: row;
		align-items: center;

		top: 72px;
		left: 20px;

		width: calc(100% - 40px);
		height: 64px;
	}

	.account_page_button,
	#account_page_reset_password_button
	{
		font-size: 1.3rem;
	}
}

.account_page_button
{
	margin-top: 15px;

	padding: 10px;

	width: 15em;

	border-radius: 10px;
	border: none;

	box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.9), 1px 1px 5px rgba(255, 255, 255, 0.9) inset;
}

.account_page_sidebar_link
{
	border: none;
	border-radius: 12px;

	width: 100%;
	height: 3em;
}

.account_page_sidebar_link:hover
{
	background-color: white;
	cursor: pointer;
}

.account_page
{
	position: absolute;

	top: calc((50% + 32px) - 20em);
	right: 100px;

	width: calc(100% - 300px - 20em);
	height: 40em;

	overflow: hidden;

	border-radius: 12px;

	padding: 30px;
}

@media only screen and (max-device-width: 1090px)
{
	.account_page
	{
		position: relative;

		top: 80px;
		left: 20px;

		width: calc(100% - 40px);
		height: 100%;
	}
}

.account_page[active=false]
{
	display: none;
}

.account_page_account_information
{
	width: 50%;
	height: 50px;

	gap: 20px;

	margin-bottom: 5px;

	color: white;
}
@media only screen and (max-device-width: 1090px)
{
	.account_page_account_information {
			font-size: 1.5rem;
	}
}

@media only screen and (max-device-width: 480px)
{
	.account_page_account_information
	{
		font-size: 2rem;
	}
}


.account_page_account_information h1
{
	font-size: 1em;

	margin-top: 0;
	margin-bottom: 0;
}

.account_page_account_information p
{
	position: absolute;

	left: 10em;

	margin-top: 0;
	margin-bottom: 0;
}

#account_page_orders_table
{
	width: 100%;

	margin-top: 10px;

	border-collapse: collapse;
	border: 1px solid black;
}

#account_page_orders_table th
{
	border: 1px solid black;
}

#account_page_orders_table_body
{
	height: 10em;
}

@media only screen and (max-device-width: 1090px)
{
	#account_entry_title{
		font-size: 4rem;
	}

	#account_entry_form h4
	{
		font-size: 2rem;
	}
}

/*
*
*	Menu page
*
*/
#menu_container
{
	padding-top: 6em;

	padding-left: 100px;
	padding-right: 100px;
}

.menu_item_section
{
	width: 100%;

	padding: 2em;

	margin-bottom: 2em;

	border-radius: 12px;
}

.menu_item_section_header
{
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 1.25em;

	text-align: center;

	font-size: 1.5rem;

	border-radius: 12px;
}

.menu_item_section_body
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 2em;
	column-gap: 2em;
	justify-content: space-evenly;

	border-radius: 12px;
}



.menu_item_container
{
	height: 34em;

	padding: 1em;

	border-radius: 12px;

	overflow: hidden;
}

.menu_item_container_bit
{
	justify-content: center;
	align-items: center;

	text-align: center;
}

.menu_item_container_bit *
{
	margin: 0;
}

.menu_item_container_image
{
	width: 80%;
	height: auto;

	margin-top: 1em;
	margin-bottom: 1.25em;

	border-radius: 12px;
}

.menu_item_container_buttons
{
	display: block;

	width: calc(100% - 2em);

	position: absolute;
	bottom: 0;

	transform: translateY(-1em);
}

.menu_item_container_button
{
	display: block;

	width: 100%;

	margin-top: 1em;
}

.menu_popup
{
	position: absolute;
	top: 6em;
	left: 100px;
	width: calc(100% - 200px - 1em);
	height: calc(100vh - 8em);

	padding: 2em;

	border: 1px solid white;
	border-radius: 12px;
}

.menu_popup_container
{
	width: 100%;
	height: calc(100% - 3em);

	padding: 2em;

	background-color: var(--white-transparent);

	border-radius: 12px;

	overflow-x: hidden;
	overflow-y: auto;

	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: baseline;
	gap: 2em;

}

.menu_item_topping_choice
{
	width: 16em;
	height: 4em;

	padding: 0.5em;

	background-color: var(--white-transparent);

	border-radius: 12px;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu_item_topping_choice[available=false]
{
	background-color: var(--logo-red-transparent);
}

.menu_item_topping_choice *
{
	margin: 0;
}

#menu_cart_button
{
	position: fixed;

	top: 6em;
	left: calc(100% - 10em);
	width: 8em;
	height: 4em;
}

#menu_cart_button *
{
	font-size: 2rem;
}

#menu_cart_container
{
	height: 55%;

	margin-bottom: 2em;
}

#menu_cart_payment_container
{
	height: 30%;

	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	vertical-align: middle;
}

#menu_cart_table
{
	width: 100%;

	table-layout: fixed;
}

#menu_cart_table thead
{
	height: 3em;
}

#menu_cart_body
{
	overflow-x: hidden;
	overflow-y: auto;
}

#menu_cart_body td
{
	height: 3em;

	padding-left: 1em;
	padding-right: 1em;
}

#menu_cart_body td:last-child
{
	vertical-align: middle;
	align-items: center;
	justify-content: space-between;
}

#menu_cart_body td *
{
	margin: 0;
}

@media only screen and (max-device-width: 480px) {
	.menu_item_section_body {
		display: flex;
		flex-direction: column;
	}

	.menu_item_container {
		height: 41em;
	}

	.menu_item_section_body img {
		width: 40%;
		height: auto;
	}

	.menu_item_container_bit * {
		font-size: 1.5rem;
	}

	.menu_popup_container
	{
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	.blockbox
	{
		font-size: 3rem;
	}

	.close_btn{
		width: 2.5em;
		height: 2.5em;
	}

	.menu_popup_container *
	{
		font-size: 2rem;

	}

	.menu_popup_container input
	{
		width: 3rem;
	}

	#menu_cart_body *
	{
		font-size: 1.3rem;
	}
}


/*
*
*	Payment page
*
*/
#payment_container
{
	padding: 20px;
	padding-top: 72px;

	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	overflow-y: auto;

	justify-content: center;
	align-items: center;
}

#payment_heading
{
	font-size: 2.5rem;
}

#payment_content_form
{
	width: 50em;
	height: 30em;

	border-radius: 12px;
	padding: 2em;

	align-content: space-evenly;
	align-items: center;

	justify-content: space-between;

}
@media only screen and (max-device-width: 480px)
{
	#payment_content_form
	{
		width: 95vw;
	}
}
.payment_form_sub_container
{
	width: 95%;
	height: 50%;

	border-radius: 15px;
	border: none;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media only screen and (max-device-width: 480px)
{
	.payment_form_sub_container {
		width: 100%;
	}
}

#payment_form_submit_container
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#payment_content_form input
{
	width: 100%;
	height: 3em;

	border-radius: 15px;
	border: none;
}

@media only screen and (max-device-width: 480px)
{
	#payment_content_form input
	{
		font-size: 1.2rem;
	}
}

#payment_content_form input:not([type=submit])
{
	padding-left: 1em;
}



#place_order_btn
{

}

/*
*
*	Receipt page
*
*/
#receipt_container
{
	padding: 20px;
	padding-top: 72px;

	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	color: white;
}

#receipt_info_container
{
	margin-bottom: 1em;
}

#receipt_info_container div
{
	margin: 1em 0;
}

#receipt_info_container h3,
#receipt_info_container p
{
	padding: 0;

	margin: 0;

	font-size: 1.2rem;
}

#receipt_info_container h3::after
{
	content: "\00a0";
}

#receipt_items_table
{
	width: 100%;
}

#receipt_items_table,
#receipt_items_table th,
#receipt_items_table tr,
#receipt_items_table td
{
	border: 1px solid black;

	border-collapse: collapse;
}

.receipt_table_header
{
	padding: 1em;

	font-size: 1.3rem;

	background-color: gray;
}

#receipt_items_table td
{
	padding: 1em;
}

.receipt_item_name_container
{
	justify-content: space-between;
}

.receipt_item_name
{
	text-transform: capitalize;
}

.receipt_toppings_container
{
	text-transform: capitalize;

	justify-content: space-between;
}

.receipt_toppings_container *
{
	margin: 0;
	padding: 0;
}

/*
*
*	Manager menu
*
*/

#manager_menu_container
{
	width: 100vw;

	padding: 20px;
	padding-top: 72px;

	top: 0;
	left: 0;
	/* background-color: violet; */
}

.manager_section_container
{
	padding-top: 1em;

	border-radius: 12px;
}

@media only screen and (max-device-width: 480px)
{
	#manager_toppings_section,
	#manager_items_section
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#manager_toppings_section *,
	#manager_items_section *
	{
		font-size: 2rem;
	}
}

#manager_toppings_section,
#manager_items_section
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	gap: 20px;

	margin-bottom: 2em;

	padding: 2em;
}

.manager_section_header
{
	margin: 1em 1.5em;

	padding: 1em;

	font-size: 2rem;

	border-radius: 12px;
}

.manager_item_container
{
	width: 18em;
	height: 4em;

	align-items: center;
	justify-content: space-evenly;

	border-radius: 12px;

	text-transform: capitalize;
}

.manager_item_container *
{
	padding: 0;
	margin: 0;
}

.manager_section_name
{
	width: 50%;
}

.manager_item_container input
{
	height: 2em;
	width: 4em;

	border: none;
	border-radius: 5px;
}

.manager_item_container input[type=checkbox]
{
	width: 1.5em;
}